*, *::before, *::after {
  box-sizing:  border-box;
}

html, body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 100vw;
  height: auto;
  margin: 0 auto;
  padding-top: 2.5rem;
  padding-left: 5.25rem;
  background-color: #F3F5FC;
  display: flex;
  justify-content: space-between;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 680px;
}
.logo {
  width: 31px;
  height: 48px;
}
textarea {
  width: 680px;
  max-width: 680px;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 680px;
  padding-bottom: 72px;
}
.message-disclaimer {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 8px;
}
.btn-actions {
  display: flex;
  flex: 1;
  gap: 24px;
}
.btn {
  flex: 1;
  border-radius: 242px;
  max-width: 328px;
  height: 67px;
  max-height: 67px;
  border: 1px solid #0A3871;
  font-weight: 400;
  cursor: pointer;
}
.btn-primary {
  background: #0A3871;
  color: #FFF;
}
.btn-secondary {
  background: #D8DFE8;
  color: #0A3871;
}
aside {
  width: 400px;
  height:  calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aside-content {
  display: flex;
  width: 336px;
  height: 100%                        ;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.aside-messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.aside-messages > h2 {
  font-size: 1.3rem;
  line-height: 28.8px;
  font-weight: 700;
}
.aside-messages > p {
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 160px;
}
.aside-text {
  display: flex;
  max-width: 100%;
  word-break: break-all;
  height: 76%;
  overflow: auto;
  flex-direction: column;
  justify-content: space-between;
}
.result {
  user-select: none;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
}
.aside-copy-btn {
  width: 100%;
  display: none;
  justify-content: center
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.5rem;
    padding-left: 0;
    padding-bottom: 40px;
  }
  aside {
    height: auto;
  }
  .actions {
    margin-top: 308px;
  }
  .empty-bg {
    display: none;
  }
  .aside-text {
    min-height: 130px;
  }
}
@media (min-width: 1368px) {
  textarea {    
    margin-left: 124px;
  }
}
